{% extends 'index.html' %}
{% load static %}
{% block content %}
<!-- form section -->
<div class="col-md-12 mt-5">
    <div class="white_shd full margin_bottom_30">
       <div class="full graph_head">
          <div class="heading1 margin_0">
             <h2>Subject Form</h2>
          </div>
       </div>
       <div class="form_section padding_infor_info">
          <div class="form-responsive-sm">
                <form method="post">
                {% csrf_token %}
                 <!-- First Textbox -->
                <div class="form-group">
                  <label for="textbox1">Subject Name:</label>
                  <input type=" "  name="subname" class="form-control" value="" required >
              </div>
              <!-- Second Textbox -->
              <div class="form-group">
                  <label for="textbox2">SubjectCode:</label>
                  <input type=" "  name="subcode" class="form-control" value="" required>
              </div>
                <button type="submit" class="btn btn-primary">Submit</button>
             </form>
          </div>
       </div>
    </div>
 </div>
 <!-- end form section -->
{% endblock %}
