{% extends 'index.html' %}
{% block content %}
   <div class="row">
      <div class="col-lg-5 col-sm-10 col-12 d-flex">
         <div class="dash-count">
            <div class="dash-counts">
               <h4>{{student_count}}</h4>
               <h5>Studnet</h5>
            </div>
            <div class="dash-imgs">
               <i data-feather="user"></i>
            </div>
         </div>
      </div>
      <div class="col-lg-5 col-sm-10 col-12 d-flex">
         <div class="dash-count das1">
            <div class="dash-counts">
               <h4>{{faculty_count}}</h4>
               <h5>Faculty</h5>
            </div>
            <div class="dash-imgs">
               <i data-feather="user-check"></i>
            </div>
         </div>
      </div>
      <div class="col-lg-5 col-sm-10 col-12 d-flex">
         <div class="dash-count das1">
            <div class="dash-counts">
               <h4>{{stastudent_count}}</h4>
               <h5>Standard Student</h5>
            </div>
            <div class="dash-imgs">
               <i data-feather="user-check"></i>
            </div>
         </div>
      </div>
      <div class="col-lg-5 col-sm-10 col-12 d-flex">
         <div class="dash-count das1">
            <div class="dash-counts">
               <h4>{{stasubject_count}}</h4>
               <h5>Standard Subject</h5>
            </div>
            <div class="dash-imgs">
               <i data-feather="user-check"></i>
            </div>
         </div>
      </div>
      <div class="col-lg-5 col-sm-10 col-12 d-flex">
         <div class="dash-count das2">
            <div class="dash-counts">
               <h4>{{standard_count }}</h4>
               <h5>Standard</h5>
            </div>
            <div class="dash-imgs">
               <i data-feather="file-text"></i>
            </div>
         </div>
      </div>
      <div class="col-lg-5 col-sm-10 col-12 d-flex">
         <div class="dash-count das3">
            <div class="dash-counts">
               <h4>{{subject_conut}}</h4>
               <h5>Subject </h5>
            </div>
            <div class="dash-imgs">
               <i data-feather="file"></i>
            </div>
         </div>
      </div>
   </div>
   </div>
{% endblock %}